#table {
    margin-bottom : 5%;
    margin-top : 5%;
    padding: 5px;
}
#form {
    background-color: lightblue;
    margin-left: 5%;
    margin-bottom: 20px;
}
#title{
    display: inline-block;
    width: 100%;
    padding: 10px;
    color: white;
    background-color: #e4594b;
}
#user{
    padding: 1%;
    text-align: left;
    background-color: #e4594b;
    color: white;
}
#user-row{
    background-color: grey;
    color: white;
    font-weight: normal;
}
#user-row > th {
    width: 25%;
    text-align: center;
}
 td{
    width: 25%;
    text-align: center;
    border: 1px dotted;;
}
#btn-create{
    background-color: forestgreen;
    border: none;
    margin-left: 90%;
}
#h5C{
    margin: 5px 20px;
    color: #e4594b;
}
#btn-delete{
    width: 100%;
}