#table {
    margin-bottom : 5%;
    margin-top : 5%;
    padding: 5px;
}
#form {
    background-color: lightblue;
    width: 80%;
    margin-bottom: 20px;
    margin-left: 10%;
}
#user{
    padding: 1%;
    text-align: left;
    background-color: #e4594b;
    color: white;
}
#user-row{
    background-color: grey;
    color: white;
    font-weight: normal;
}
#user-row > th {
    width: 25%;
    text-align: center;
}
 td{
    width: 25%;
    text-align: center;
    border: 1px dotted;;
}